
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div class="row">
    <p>Ce site est une démo montrant l'utilisation d'un service worker pour rendre un site web accessible hors ligne.</p>
    <p>Ce site affiche les 10 derniers articles publiés sur <a href="https://blogs.msdn.microsoft.com/dotnet/" target="_blank">.NET Blog</a></p>
    <p></p>
    <p>Pour en savoir plus les Service Workers, vous pouvez consulter :
        <ul>
            <li><a href="https://github.com/jloscos/html5-cache-demo">Code source de ce site</a></li>
            <li>
                <a href="http://expaceo.com/Blog?id=54">http://expaceo.com/Blog?id=54</a>
            </li>
            <li><a href="https://developer.mozilla.org/fr/docs/Web/API/Service_Worker_API/Using_Service_Workers">https://developer.mozilla.org/fr/docs/Web/API/Service_Worker_API/Using_Service_Workers</a></li>
        </ul>
    </p>
</div>